
body {
    background-color: silver;
    color: black;
    padding: 20px;
    font-family: Arial, Verdana, sans-serif;}
h1 {
    background-color: #ffffff;
    background-color: hsla(0,100%,100%,0.5);
    color: #64645A;
    padding: inherit;}
p {
    padding: 5px;
    margin: 0px;}
p#zero{
    background-color: rgb(29, 101, 88);}
p#one{
    background-color: rgb(69, 178, 157);}
p#two{
    background-color: rgb(187, 93, 191);}
p#three{
    background-color: rgb(127, 106, 37);}
p#four{
    background-color: rgb(254, 216, 86);}